# Prerequisites
*.d
*.user
Debug
debug
Release
release

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Pypolydim Cache
GeDiM/src/Algebra/CMakeFiles/
GeDiM/src/Algebra/Makefile
GeDiM/src/Algebra/cmake_install.cmake
GeDiM/src/CMakeFiles/
GeDiM/src/Common/CMakeFiles/
GeDiM/src/Common/Makefile
GeDiM/src/Common/cmake_install.cmake
GeDiM/src/Geometry/CMakeFiles/
GeDiM/src/Geometry/Makefile
GeDiM/src/Geometry/cmake_install.cmake
GeDiM/src/IO/CMakeFiles/
GeDiM/src/IO/Makefile
GeDiM/src/IO/cmake_install.cmake
GeDiM/src/Makefile
GeDiM/src/Mesh/CMakeFiles/
GeDiM/src/Mesh/Makefile
GeDiM/src/Mesh/cmake_install.cmake
GeDiM/src/MpiTools/CMakeFiles/
GeDiM/src/MpiTools/Makefile
GeDiM/src/MpiTools/cmake_install.cmake
GeDiM/src/Quadrature/CMakeFiles/
GeDiM/src/Quadrature/Makefile
GeDiM/src/Quadrature/cmake_install.cmake
GeDiM/src/cmake_install.cmake
